.services {

  .three-column__grid {
    align-items: baseline;
    margin-bottom: 8rem;
  }
}

.workflow__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 108rem;
  width: 95%;
  margin: 0 auto 8rem auto;
}

.workflow__list .workflow__list-item {
  font-family: "SohoGothicPro-Bold";
  font-size: 2.5rem;
  letter-spacing: 2.975px;

  svg {
    position: relative;
    top: 0.6rem;
  }

  p {
    display: inline-block;
    margin: 0;
  }

  &:last-of-type {
    &:after {
      display: none;
    }
  }
}

//Services Grid
.three-column__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 3rem;
  margin: 0 auto;
  //margin: 9rem auto;
  align-items: center;
  background: magenta;

  figcaption, .caption {
    height: 5.1rem;
    display: table;
    margin: 2rem auto 2rem auto;
  }

  h5 {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
  }
}

.grid-item__description {
  max-width: 28rem;
  margin: 0 auto;
  //word-break: break-word;

  p {
    text-align: left;
  }
}

@media only screen and (max-width: 960px) {

  .workflow__list .workflow__list-item {
    font-size: 1.8rem;

    svg {
      top: 0.3rem;
      width: 0.6rem;
    }
  }

  .three-column__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
  }
}

@media only screen and (max-width: 480px) {

  .workflow__list {
    display: block;
    text-align: center;
    padding-top: 2rem;

    li {
      svg {
        transform: rotate(90deg);
      }

      p {
        margin: 0 auto;
      }
    }
  }

  .three-column__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .three-column__grid-item {
    margin-bottom: 5rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .grid-item__description {
    max-width: 32rem;
  }

  .services__workflow {

    margin: 6rem auto 7rem auto;

  }
}