/.idea/
/languages/
/logs/
/mu-plugins/
/plugins/advanced-custom-fields/
/plugins/all-in-one-wp-migration/
/plugins/all-in-one-wp-migration-file-extension/
/plugins/pixelyoursite/
/plugins/revslider-particles-addon/
/plugins/simple-history/
/plugins/index.php
/themes/twentynineteen/
/themes/twentyseventeen/
/themes/twentysixteen/
/themes/twentytwenty/
/themes/index.php
/upgrade/
/uploads/
/ai1wm-backups/
plugins/advanced-custom-fields/
plugins/advanced-custom-fields/acf.php
