/app/public/wp-admin
/app/public/wp-includes
/conf
/logs
/app/public/index.php
/app/public/license.txt
/app/public/readme.html
/app/public/wp-activate.php
/app/public/wp-blog-header.php
/app/public/wp-comments-post.php
/app/public/wp-config-sample.php
/app/public/wp-config.php
/app/public/wp-cron.php
/app/public/wp-links-opml.php
/app/public/wp-load.php
/app/public/wp-login.php
/app/public/wp-mail.php
/app/public/wp-settings.php
/app/public/wp-signup.php
/app/public/wp-trackback.php
/app/public/xmlrpc.php
/app/public/wp-content/uploads
/themes/twentysixteen
/themes/twentytwenty
/themes/twentyseventeen
/themes/twentynineteen
.history/
app/public/wp-content/themes/scss/
app/sql/
/ai1wm-backups
/mu-plugins
/plugins/index.php
/themes/index.php
/upgrade
/uploads/
index.php
plugins/newsletter/
plugins/newsletter/
plugins/newsletter-extensions/
.idea/
plugins/all-in-one-wp-migration/
plugins/duplicator/
plugins/export-media-library/
plugins/revslider-explodinglayers-addon/
plugins/revslider-particles-addon/
plugins/revslider-404-addon/
plugins/revslider-duotonefilters-addon/
webtoffee_migrations/
plugins/all-in-one-wp-migration-file-extension/
plugins/jetpack/
plugins/all-in-one-wp-migration
plugins/all-in-one-wp-migration/
plugins/all-in-one-wp-migration/all-in-one-wp-migration.php
plugins/advanced-custom-fields/
plugins/amp/
plugins/advanced-custom-fields/
*.po
*.mo
languages/
plugins/upload-max-file-size/
plugins/wordpress-seo/
