/app/public/wp-admin
/app/public/wp-includes
/conf
/logs
/app/public/index.php
/app/public/license.txt
/app/public/readme.html
/app/public/wp-activate.php
/app/public/wp-blog-header.php
/app/public/wp-comments-post.php
/app/public/wp-config-sample.php
/app/public/wp-config.php
/app/public/wp-cron.php
/app/public/wp-links-opml.php
/app/public/wp-load.php
/app/public/wp-login.php
/app/public/wp-mail.php
/app/public/wp-settings.php
/app/public/wp-signup.php
/app/public/wp-trackback.php
/app/public/xmlrpc.php
/app/public/wp-content/uploads
/themes/twentysixteen
/themes/twentytwenty
/themes/twentyseventeen
/themes/twentynineteen
.history/
app/public/wp-content/themes/scss/
app/sql/
/ai1wm-backups
/mu-plugins
/plugins/index.php
/themes/index.php
/upgrade
/plugins/all-in-one-wp-migration
/plugins/wordpress-importer
/uploads/
index.php
