footer.site-footer {
  background-image: url('./img/footer.gif');

  #menu-social-menu-1 li {
    display: block;
    max-width: 5rem;
    padding: 0;

    a {
      display: block;
      text-align: center;

      &::after {
        display: none;
      }
    }
  }
}

/** Footer Menu Areas **/
.site-footer__menu {
  display: flex;
  flex-wrap: wrap;
  color: $white;

  // Menu List
  .site-footer__menu__list {
    flex: 0 0 50%;
    position: relative;
    //display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: block;

    // Heading Title
    h5 {
      font-size: 1.6rem;
      margin-bottom: 2.5rem;
      background-color: $black;
      max-width: 15rem;
      margin-top: 0;
      padding: 0.2rem 1rem;
    }

    // Menu List Item
    li {
      background-color: black;
      max-width: 15rem;
      font-size: 1.2rem;
      padding: 0.2rem 1rem;
      margin-bottom: 0.5rem;

      // Hover dash animation
      &:hover {

        a::after {
          width: 100%;
        }
      }

      a {
        display: inline-block;

        &:after {
          content: '';
          width: 0;
          height: 0.1rem;
          display: block;
          background: $white;
          transition: 300ms;
        }
      }
    }

    &.logo {
      background-color: transparent;
      display: flex;
      align-self: center;
    }
  }
}

@media only screen and (min-width: 960px) {

  .site-footer__menu {
    padding: 7.5rem 0 4rem;

    .site-footer__menu__list {
      flex: 0 0 18%;
    }

    // Social Menu flex width
    .footer-social {
      flex: 0 0 5%;
    }

    .footer-newsletter {
      flex: 0 0 23%;

      h5 {
        max-width: 23rem;
        margin-bottom: 0.5rem;
      }

      li {
        max-width: 30rem;
        background-color: transparent;

        .tnp-field-email input {
          background-color: transparent;
          border: none;
          border-bottom: 03rem solid $white;
        }

        input.tnp-email {
          height: 3rem;
          max-width: 23rem;
          width: 100%;
        }
      }
    }
  }
}

.copywrite {
  color: $white;
  font-size: 1rem;
  padding: 0;

  p {
    margin: 0;
    padding: 0.8rem;
    background-color: $black;
    display: inline-block
  }
}

@media only screen and (max-width: 1100px) {

  .site-footer__menu {
    padding-top: 4.5rem;
  }

  .footer-services {
    order: 1;
    margin-bottom: 4.5rem;
  }

  .footer-studio {
    order: 2;
  }

  .footer-legal {
    order: 3;
    margin-bottom: 5rem;
  }

  .footer-newsletter {
    align-self: end;
    order: 5;
    display: none !important;
  }

  .footer-social {
    order: 4;
    margin-bottom: 5rem;
  }

  footer.site-footer #menu-social-menu-1 li {
    display: inline-block;
    max-width: 50%;
    width: calc(50% - 0.2rem);
    margin: 1rem auto;
  }

  footer .social-menu {
    background-color: $black;
    max-width: 15rem;
    padding-top: 0.5rem;
  }

  .site-footer__menu .site-footer__menu__list {
    flex-basis: 21%;
  }

  .site-footer__menu .site-footer__menu__list.footer-social {
    flex-basis: 19%;
  }

  .site-footer__menu .site-footer__menu__list.logo {
    flex-basis: 22%;
    align-self: baseline;
  }
}

@media only screen and (max-width: 960px) {

  .site-footer__menu .site-footer__menu__list.logo {
    display: none;
  }

  .site-footer__menu .site-footer__menu__list {
    flex-basis: 27%;
  }

  footer .social-menu ul {
    background-color: $black;
  }

  .copywrite p {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {

  .site-footer__menu {
    justify-content: center;

    .site-footer__menu__list, .site-footer__menu .site-footer__menu__list.footer-social {
      flex-basis: 50% !important;
      justify-content: center;
    }
  }

  .site-footer__menu .site-footer__menu__list {
    li, h5 {
      margin: 0.5rem auto;
    }
  }

  footer .social-menu {
    margin: 0 auto;
    padding: 0;
  }

  footer.site-footer #menu-social-menu-1 li {
    margin: 0.5rem auto 0 0;
    padding-bottom: 0;

    a {
      padding: 0.5rem 0.3rem;
    }
  }

  footer .social-menu, footer .social-menu ul {
    background: transparent;
  }
}

@media only screen and (max-width: 360px) {

  .site-footer__menu .site-footer__menu__list li, .site-footer__menu .site-footer__menu__list h5 {
    max-width: 13.5rem;
  }

  footer.site-footer #menu-social-menu-1 {
    padding: 0 0.5rem;

    li a {
      padding: 0.75rem 0;
    }
  }
  .social-menu li a:before {
    font-size: 2.5rem;
  }
}