@import '../global/typography.scss';
@import '../global/variables.scss';
@import '../global/mixins.scss';
/* force scrollbar, prevents initial gap */
html {
    overflow-y: scroll;
}

/* ---- grid ---- */

/* clear fix */
#portfolio:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .element-item ---- */

/* 4 columns, percentage width */
.portfolio-item,
.portfolio-sizer {
    width: 25%;
}

.portfolio-item {
    float: left;
    figure {
        overflow: hidden;
        cursor: pointer;
        margin: 0;

        img {
            width: 100%;
            transform: scale3d(1.02, 1.02, 1);
        }

        figcaption {
            color: white;

            h2 {
                font-size: 2.5rem;
                margin: 0 auto;

                span {
                    font-weight: 700;
                }
            }

            >a {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }

            &::before,
            &::after {
                pointer-events: none;
            }
        }

        &.grid-item-figure {

            h2 {
                position: absolute;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: opacity 0.35s;
                top: 50%;
                transform: translateY(-50%);
            }

            &:hover {
                img {
                    transform: scale3d(1.1, 1.1, 1);
                    transition: transform 0.35s;
                }

                figcaption {
                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.4);
                        content: '';
                        transition: transform 1.2s;
                    }

                    h2 {
                        opacity: 1;
                        -webkit-transition-delay: 0.1s;
                        transition-delay: 0.1s;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.portfolio-filter-item {
    display: inline-block;
    font-size: 1.8rem;
    font-family: "SohoGothicPro-Medium";
    color:#8b8a8d;
    max-width: 14rem;
    text-align: center;
    vertical-align: middle;
    margin-right: 7rem;
}

// #filters {
//     display: table;
// }

.portfolio-filters {
    background-color: $gray;
    padding: 2.3rem 0;

}

.portfolio-filter-item-active {
    color:$black;
}

