.misc-section {
  margin-top: 5rem;

  a:hover {

    &:not(.button):hover {
      color: $black;
    }
  }

  p {
    font-family: "SohoGothicPro-Bold", sans-serif;
    display: inline-block;
    color: #8b8a8d;
    font-size: 1.7rem;
    margin-bottom: 0;
  }

  b {
    color: #000000;
  }

  .button {
    display: inline-block;
    margin-top: 7rem;
    margin-right: 2rem;
    min-width: 14rem;
    min-height: 5.8rem;
    float: left;
  }

  .divider {
    margin: 0 0.5rem;
    vertical-align: text-top;
  }
}

.post-navigation {
  margin: 7rem auto;

  strong {
    font-size: 1.8rem;
    font-family: "SohoGothicPro-Bold", sans-serif;
    color: #8b8a8d;
    position: relative;
    transition: all 0.3s;
    display: table;

    a {
      display: table-cell;
      vertical-align: middle;
      padding: 0 1.5rem 0.5rem 1.5rem;
    }

    svg {
      rect, polygon {
        transition: all 0.3s;
      }
    }

    &:hover {
      color: $black;

      svg {
        rect, polygon {
          fill: $black;
          stroke: $black;
        }
      }
    }
  }
}


@media only screen and (max-width: 960px) {

  .misc-section p {
    font-size: 1.6rem;
  }

  .single-project-page .section-heading {
    margin: 7.5rem auto 5rem auto;
  }
}

@media only screen and (max-width: 480px) {

  .single-project-page .section-heading {
    margin: 6.5rem auto 3.5rem auto;
  }

  .button.ari-fancybox-pdf:before {
    line-height: 5rem;
  }

  .misc-section {
    margin-top: 4rem;

    .button {
      max-width: 14rem;
    }

    p {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }
}

@media only screen and (orientation: portrait) and (max-width: 320px) {

  .misc-section {

    .button {
      max-width: 13rem;
      min-width: 13rem;
      margin-right: 1rem;
    }
  }
}
