.misc-section {
  margin-top: 5rem;

  a:hover {
    color: $black;
  }

  p {
    font-family: "SohoGothicPro-Bold", sans-serif;
    display: inline-block;
    color: #8b8a8d;
    font-size: 1.7rem;
    margin-bottom: 0;
  }

  b {
    color: #000000;
  }

  .button {
    display: inline-block;
    margin-top: 7rem;
    margin-right: 2rem;
  }

  .divider {
    margin: 0 0.5rem;
    vertical-align: text-top;
  }
}

.post-navigation {
  margin: 7rem auto;

  strong {
    font-size: 1.8rem;
    font-family: "SohoGothicPro-Bold", sans-serif;
    color: #8b8a8d;
    position: relative;

    &:first-of-type {

      &:before {
        content: url("../global/img/prev_project.svg");
        @include centerY;
        padding-top: 0.5rem;
      }

      a {
        padding-left: 3.5rem;
      }
    }

    &:last-of-type {

      &:after {
        content: url("../global/img/next_project.svg");
        @include centerY;
        padding-top: 0.5rem;
      }

      a {
        padding-right: 1.5rem;
      }
    }

    &.fleft:after {
      display: none;
    }

    &.fright:before {
      display: none;
    }
  }
}

@media only screen and (max-width: 960px) {

  .misc-section p {
    font-size: 1.6rem;
  }

  .single-project-page .section-heading {
    margin: 5rem auto;
  }
}

@media only screen and (max-width: 480px) {
  .single-project-page .section-heading {
    margin: 6rem auto;
  }
  .misc-section {
    margin-top: 4rem;

    p {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }
}