$hexagon-width: 295px;
$hexagon-height: $hexagon-width*.585;
$hexagon-margin: 0;
$hexagon-title-color: $black;
$hexagon-border-color:$white;
$hexagon-image-color: rgba(255, 255, 255, 1);
$viewport-thereshold: $hexagon-width+$hexagon-margin;

.honeycomb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  transform: translateY(#{$hexagon-height/4});

  &-cell {
    flex: 0 1 $hexagon-width;
    max-width: $hexagon-width;
    height: $hexagon-height;
    margin: $hexagon-height/2.1 auto $hexagon-height/2.1;
    position: relative;
    text-align: center;
    z-index: 1;


    &__title {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      hyphens: auto;
      word-break: break-word;
      text-transform: uppercase;
      color: $white;
      opacity: 0;
      transition: opacity 350ms;

      .name {
        font-family: "SohoGothicPro-Bold", sans-serif;
        font-size: 1.8rem;
        margin: 0 auto;
        letter-spacing: 2px;
        margin-bottom: 0.5rem;
      }

      .description {
        font-family: "SohoGothicPro-regular", sans-serif;
        font-size: 1.6rem;
        margin: 0 auto;
        letter-spacing: 0.72px;
      }

    }

    &__video {
      object-fit: cover;
      object-position: center;
    }

    &::before,
    &::after {
      content: '';
    }

    &::before,
    &::after,
    &__video {
      top: -50%;
      left: 0;
      width: 100%;
      height: 200%;
      display: block;
      position: absolute;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      z-index: -1;
    }

    &::before {
      background: $hexagon-border-color;
      transform: scale(1.055);
    }

    &::after {
      background: $black;
      opacity: 0;
      transition: opacity 350ms;
    }

    &:hover {

      .honeycomb-cell__title {
        opacity: 1;
        transition: opacity 350ms;
      }

      &::after {
        opacity: 0.5;
      }
    }
  }

  &__placeholder {
    display: none;
    opacity: 0;
    width: $hexagon-width;
    margin: 0 $hexagon-margin/2;
  }
}

@media (max-width:#{2*$viewport-thereshold}) {
  .honeycomb-cell {
    margin: #{$hexagon-margin/2 + $hexagon-height/2} $hexagon-margin;
  }
}

.team .three-column__grid-item {
  margin-bottom: 7.5rem;
  &:last-of-type {
    grid-area: 4 / 2 / 5 / 3;
  }

  svg {
    margin-bottom: 2rem;
  }
}

.team .three-column__grid {
  justify-items: unset;
}

// Last Hexagon in the about us page
.team .three-column__grid-item:last-of-type {
  //  Custom Background color for the last hexagon

  .honeycomb-cell::before {
    background-color: $black;
  }

  // Visible description
  .honeycomb-cell__title {
    opacity: 1;

    .description {
      font-family: "SohoGothicPro-Bold";
    }
  }
}

@media only screen and (max-width: 800px)  {
  .honeycomb-cell {
    margin: 82.17857px 0 82.17857px 0;
  }
}

@media only screen and (max-width: 480px)  {
  .three-column__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .team .three-column__grid {
    display: block;
  }

  .honeycomb-cell {
    margin: 82.17857px auto 82.17857px auto;
  }
  .team .three-column__grid-item {
    margin-bottom: 22rem;
  }
}