// Container, wrappers and common layout rules & utilities
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* Now 10px = 1rem! */
  font-family: SohoGothicPro Bold, serif;
  /* force scrollbar, prevents initial gap */
  overflow-y: scroll;
}

body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  position: relative;
  display: block;
}

main {
  position: relative;
  display: block;
}

ul {
  list-style: none;
}

ul.hexagon-list {
  list-style-image: url('./img/custom-li.svg');
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0 auto;
}

input,
button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 144rem;
  // /** 1440px **/
  width: 90%;
  margin: 0 auto;
}

/** Utilities **/
.cf:before,
.cf:after {
  content: " ";
  display: table;
  clear: both;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3ms;
}

.visible {
  display: initial;
  visibility: visible;
  opacity: 1;
  transition: all 0.3ms;
}

// Remove empty paragraph tags
p:empty {
  @extend .hidden;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.margin-bottom {
  margin-bottom: 7rem;
}

.section-heading {
  position: relative;
  margin: 5rem auto;

  h2 {
    font-family: "SohoGothicPro-Bold", serif;
    font-size: 3.5rem;
    color: $black;
    letter-spacing: 3.8px;
    line-height: 1;
    margin: 0;
    @include centerY;
  }

  .background-text {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 9.6rem;
    line-height: 0.8;
    letter-spacing: 1.2rem;
    color: $gray;
    position: relative;
    margin: 0;
    left: -2rem;
    text-transform: uppercase;
  }

  p {
    text-transform: initial;
    max-width: 50%;
  }
}

.landing-page {
  .section-heading {
    margin-top: 12rem;
  }
}

.case-studies {
  .section-heading {
    margin: 7rem auto 6rem auto;
  }
}

.single-project-page {
  .section-heading {
    margin: 7rem auto;
  }

  //.two-column-content {
  //  margin-bottom: 1rem;
  //}
}

.two-column-content {
  column-count: 2;
  width: 100%;
  margin-bottom: 7rem;

  ul {
    list-style-image: url('./img/custom-li.svg');
    max-width: 66rem;
    font-size: 1.6rem;
    padding-left: 2rem;
  }

  p {
    padding-right: 2.5rem;
    margin-top: 0;
  }
}

//Inner Pages
.inner-page .section-heading {
  h2 {
    left: 0;
  }
}

article p {
  margin: 0 auto;
}

.wp-block-image {
  margin-bottom: 0;

  img {
    display: block;
  }
}

.hero-section__content {
  position: absolute;
  top: 5%;
  color: $white;
  @include centerX;

  h1 {
    font-family: "SohoGothicPro-Bold", sans-serif;
    font-size: 3.5rem;

    br {
      display: none;
    }
  }

  p {
    max-width: 70rem;
  }
}

.wp-block-separator {
  border: none;
  margin: 0;
  padding: 1.75rem 0;
}

.attachment-fixed rs-sbg {
  background-attachment: fixed !important;
}

/* two equal columns that floats next to each other */
.col-2 {
  float: left;
  width: 50%;

  &.content {
    padding-left: 5%;
  }
}

// Contact Page
#map {
  width: 100%;
  height: 600px;
}

@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 960px) {

  .section-heading {

    h2 {
      font-size: 2.5rem;
      top: calc(50% - 2px);
    }

    .background-text {
      font-size: 5rem;
      left: -1rem;
    }
  }

  .landing-page .section-heading {
    margin-top: 10rem;
  }

  .two-column-content {
    column-count: 1;

    p {
      padding-right: 0;
    }
  }

  .page-template-contacts-page-php {

    .col-2 {
      width: unset;
      float: none;
    }

    .contacts-section {
      display: grid;
      grid-template-columns: repeat(1, 1fr);

      .content {
        grid-column-start: 1;
        grid-row-start: 1;
        margin-bottom: 4rem;
      }
    }
  }
}

@media only screen and (max-width: 480px) {

  .section-heading {

    h2 {
      font-size: 2.5rem;
      transform: none;
      position: relative;
    }

    .background-text {
      display: none;
    }
  }

  .two-column-content {
    margin-bottom: 5rem;
  }

  .post-navigation {
    display: none;
  }
}