.button {
  text-transform: uppercase;
}

input.tnp-submit {
  font-family: "SohoGothicPro-Bold", sans-serif;
  padding: 1.3rem;
  background-color: $black;
  color: $white;
}

// Hover Button Block
.button {
  font-family: "SohoGothicPro-Bold", sans-serif;
  color: transparent;
  position: relative;
  //display: inline-block;
  display: block;
  padding: 1.4rem 4.7rem;
  max-height: 5.8rem;
  max-width: 17.5rem;
  width: 100%;
  border: 0.4rem solid $black;
  font-size: 1.6rem;
  text-align: center;
  overflow: hidden;

  &:after,
  &:before {
    content: attr(title);
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 5rem;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    text-decoration: none;
    text-indent: 0;
    text-wrap: none;
    transform-origin: 50% 50% -2.07692em;
  }
}

//Transparent Button Modifier
.button--transparent {

  // Top element(transparent)
  &:before {
    color: $black;
    transition-duration: .75s;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    transition-delay: .1s;
    opacity: 1;
  }

  // Bottom element(black)
  &:after {
    color: $white;
    background-color: $black;
    transform: rotateX(-90deg);
    transition-delay: 0s;
    transition-duration: .25s;
    transition-timing-function: ease-out;
    opacity: 0;
  }

  // Hovers
  &:hover {

    &:before {
      transform: rotateX(90deg);
      transition-delay: 0s;
      transition-duration: .25s;
      transition-timing-function: ease-out;
      opacity: 0;
    }

    &:after {
      transform: rotateX(0);
      transition-duration: .75s;
      transition-timing-function: cubic-bezier(.19, 1, .22, 1);
      opacity: 1;
    }
  }
}

.button--transparent-white {
  border: 0.4rem solid $white;

  // Top element(transparent)
  &:before {
    color: $white;
    transition-duration: .75s;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    transition-delay: .1s;
    opacity: 1;
  }

  // Bottom element(black)
  &:after {
    color: $black;
    background-color: $white;
    transform: rotateX(-90deg);
    transition-delay: 0s;
    transition-duration: .25s;
    transition-timing-function: ease-out;
    opacity: 0;
  }

  // Hovers
  &:hover {

    &:before {
      transform: rotateX(90deg);
      transition-delay: 0s;
      transition-duration: .25s;
      transition-timing-function: ease-out;
      opacity: 0;
    }

    &:after {
      transform: rotateX(0);
      transition-duration: .75s;
      transition-timing-function: cubic-bezier(.19, 1, .22, 1);
      opacity: 1;
    }
  }
}

.button--transparent-black {
  border: 0.4rem solid $black;

  // Top element(transparent)
  &:before {
    color: $black;
    transition-duration: .75s;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    transition-delay: .1s;
    opacity: 1;
  }

  // Bottom element(black)
  &:after {
    color: $white;
    background-color: $black;
    transform: rotateX(-90deg);
    transition-delay: 0s;
    transition-duration: .25s;
    transition-timing-function: ease-out;
    opacity: 0;
  }

  // Hovers
  &:hover {

    &:before {
      transform: rotateX(90deg);
      transition-delay: 0s;
      transition-duration: .25s;
      transition-timing-function: ease-out;
      opacity: 0;
    }

    &:after {
      transform: rotateX(0);
      transition-duration: .75s;
      transition-timing-function: cubic-bezier(.19, 1, .22, 1);
      opacity: 1;
    }
  }
}

//Button with fill Modifier
.button--fill {

  // Top element black
  &:before {
    color: $white;
    background-color: $black;
    transition-duration: .75s;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    transition-delay: .1s;
    opacity: 1;
  }

  // Bottom element(transparent)
  &:after {
    color: $black;
    background-color: transparent;
    transform: rotateX(-90deg);
    transition-delay: 0s;
    transition-duration: .25s;
    transition-timing-function: ease-out;
    opacity: 0;
  }

  // Hovers
  &:hover {
    &:before {
      transform: rotateX(90deg);
      transition-delay: 0s;
      transition-duration: .25s;
      transition-timing-function: ease-out;
      opacity: 0;
    }

    &:after {
      transform: rotateX(0);
      transition-duration: .75s;
      transition-timing-function: cubic-bezier(.19, 1, .22, 1);
      opacity: 1;
    }
  }
}

//Back to top
main .back-to-top.container {
  margin: 5.2rem auto 5.2rem auto;
}

.back-to-top__hexagon {
  svg {
    display: block;
  }
}

#return-to-top {
  transition: all 0.3s;
  float: right;
  position: relative;
  z-index: 10;

  &:hover {
    opacity: 0.75;
  }
}

//.back-to-top__hexagon:before,
//.back-to-top__hexagon:after {
//  content: "";
//  position: absolute;
//  width: 0;
//  border-left: 25.5px solid transparent;
//  border-right: 25.5px solid transparent;
//}
//
//.back-to-top__hexagon:before {
//  bottom: 100%;
//  border-bottom: 14.72px solid #000000;
//}
//
//.back-to-top__hexagon:after {
//  top: 100%;
//  width: 0;
//  border-top: 14.72px solid #000000;
//}

@media only screen and (max-width: 960px) {
  .button {
    font-size: 1.4rem;
    max-width: 14rem;
    margin: 0 auto;
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  //Back to top
  .back-to-top.container {
    margin: 3rem auto;
  }
}