//Colors
$black: #000000;
$white: #FFFFFF;
$gray:  rgba(35, 35, 35, 0.1);

$menu-bg: rgba(33, 33, 33, 0.95);
$menu-links: rgba(255, 255, 255, 0.5);
$size: 5em;
$time: 350ms;
$degree: 135deg;
$timing: ease;
