@charset "UTF-8";
@import './variables.scss';
@import './typography.scss';
@import './mixins.scss';
@import './base.scss';

@import './animations.scss';
/* Header */
@import '../burger-menu/burger-button';
@import '../burger-menu/burger-menu';

/* Utilities */
@import './buttons';
@import './animations';

/* Front Page */
@import '../front-page/portfolio/cube'; //3D Cube
@import '../front-page/services/services'; //Expertise & Services
@import '../front-page/clients/clients'; //Clients
@import '../front-page/testimonials/testimonials'; //Testimonials

/* Inner Pages */
@import './../../components/about-us/team';//About us
@import './../../components/portfolio/portfolio'; //Portfolio Grid
@import './../../components/portfolio/portfolio-single'; //Portfolio Single
@import './../../components/careers-page/careers';//Careers
@import './../../components/clients-page/clients';//Clients

/* Footer */
@import '../footer/footer-menu/footer-menu'; //Footer Menu

.loader-container {
  position: fixed;
  z-index: 999;
  background-color:#fdfefd;
  width: 100vw;
  height: 100vh;

  video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
  }
}
