@import './typography.scss';
@import './variables.scss';
@import './mixins.scss';

// Container, wrappers and common layout rules & utilities
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* Now 10px = 1rem! */
    font-family: SohoGothicPro Bold;
}

body {
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    position: relative;
    display: block;
}

main {
    position: relative;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button {
    border: none;
    cursor: pointer;
}

.container {
    max-width: 144rem;
    // /** 1440px **/
    width: 95%;
    margin: 0 auto;
}


/** Utilities **/
.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

// Section Headings
.section-heading {
    position: relative;
    margin: 15rem auto 6rem;

    h3 {
        font-family: "SohoGothicPro-Bold";
        font-size: 4.5rem;
        color: $black;
        letter-spacing: 3.8px;
        line-height: 1;
        margin: 0;
        @include centerY;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 12rem;
        line-height: 0.8;
        letter-spacing: 1.2rem;
        color: $gray;
        position: relative;
        margin: 0;
        left: -2rem;
    }
}


// Buttons

.button {
    text-transform: uppercase;
}

@import './../../components/front-page/expertise/expertise';
@import './../footer/footer-menu/footer-menu.scss'
