//Layout Mixins

@mixin centerX {
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
}

@mixin centerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin centerXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

// Burger Menu Mixins
@mixin transition($duration, $timing-func) {
    -webkit-transition: $duration $timing-func all;
    -moz-transition: $duration $timing-func all;
    transition: $duration $timing-func all;
}

@mixin scale($size) {
    -webkit-transform: scale($size);
    -moz-transform: scale($size);
    transform: scale($size);
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    transform: rotate($deg);
}


//Animations

//Fade Out
.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s 0.5s,
    opacity 0.5s linear;
}

//Fade In
.fadeIn {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}