*, html {
  padding: 0;
  margin: 0;
}

.testimonials {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.bx-wrapper {
  background: transparent;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  position: relative;
  width: 1.5rem;
  height: 8.66px;
  background-color: #ffffff;
  margin: 4.33px 0.5rem;
  border-left: solid 0.2rem #333333;
  border-right: solid 0.2rem #333333;
  border-radius: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:before,
.bx-wrapper .bx-pager.bx-default-pager a:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 10.61px;
  height: 10.61px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 0.1967px;
}

.bx-wrapper .bx-pager.bx-default-pager a:before {
  top: -5.3033px;
  border-top: solid 2.8284px #333333;
  border-right: solid 2.8284px #333333;
}

.bx-wrapper .bx-pager.bx-default-pager a:after {
  bottom: -5.3033px;
  border-bottom: solid 2.8284px #333333;
  border-left: solid 2.8284px #333333;
}

.testimonial blockquote {
  max-width: 34rem;
  margin: 0;
  min-height: 7rem;
  max-height: 7rem;
  overflow: hidden;

  p {
    margin: 0 auto;
  }
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  bottom: unset;
}

.testimonial-footer {

  .testimonial-name, .testimonial-position {
    font-family: "SohoGothicPro-Bold", sans-serif;
    font-size: 1.8rem;
    color: #8b8a8d;
    letter-spacing: 1.36px;
  }

  .testimonial-name {
    margin: 1.8rem auto 0 auto;
  }

  .testimonial-position {
    margin: 0 auto 2.5rem auto;
  }

  .button {
    display: block;
  }
}

.bx-wrapper .bx-pager {
  color: $black;
  padding-top: 6rem;
}

.bx-wrapper .bx-pager.bx-default-pager a::before {

  top: -5.3033px;
  border-top: solid 0.2rem $black;
  border-right: solid 0.2rem $black;

}


@media only screen and (max-width: 960px) {

  .bx-wrapper {
    margin: 0 auto;
  }
  .testimonial-footer .button {
    float: left;
  }
  .slide.testimonial {
    margin-right: 3.5rem;
  }
}

@media only screen and (max-width: 480px) {


  .bx-wrapper .bx-pager {
    padding-top: 4.1rem;
  }

  .testimonial-footer .button {
    float: none;
  }

  .slide.testimonial {
    margin-right: 0;
    text-align: center;
  }
}

