// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation of the site/application.
// -----------------------------------------------------------------------------
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 0;

  &.show-nav {
    .hamburger {
      opacity: 1;
      transition: opacity .5s cubic-bezier(.694, .048, .335, 1);
    }
  }

  &.hide-nav {
    .hamburger {
      opacity: 0;
      transition: opacity .5s cubic-bezier(.694, .048, .335, 1);
    }
  }
}

.inner-page-header {
  position: relative;
}

// Burger Menu
#burger-menu-container {
  font-family: "SohoGothicPro-Bold";
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: $menu-bg;
  @include scale(1.5);
  @include transition($time, $timing);

  .social-menu {
    ul li a:hover:after {
      display: none;
    }
  }

  &.opened {
    visibility: visible;
    opacity: 1;
    @include scale(1);
    @include transition($time, $timing);
  }

  ul {
    margin: 0 auto;

    li {
      display: block;
      margin: 0 auto;
      font-size: 3.5rem;
      line-height: 1.94;

      a {
        position: relative;
        z-index: 4;
        width: 100%;
        margin: 0 auto;
        color: $menu-links;
        text-decoration: none;
        letter-spacing: 1.6px;
        @include transition($time, $timing);

        &:after {
          content: " ";
          position: absolute;
          width: 0%;
          height: 0.5rem;
          margin: 3.4rem 0 0 5%;
          right: 0;
          background: $white;
          @include transition($time, $timing);
        }

        &:hover {
          color: $white;

          &:after {
            width: 115%;
          }
        }
      }
    }
  }
}

#menu-main-menu {
  position: relative;

  li a {
    padding-right: 8.4%;
  }
}

.main-menu {
  border-right: 0.4rem solid $white;
  padding: 4rem 0;
  position: relative;
  right: -0.2rem;
}

.nav-contacts {
  color: $white;
  padding-left: 8.4%;
  font-size: 1.8rem;
  text-align: left;

  p {
    margin: 1.8rem 0;
  }


  span {
    font-family: "SohoGothicPro-Regular";
    line-height: 0.7;
  }

  > div {
    margin-bottom: 4.5rem;
  }
}

//Social Icons
.social-menu {

  li {
    display: inline;

    a {

      &:before {
        font-family: 'FontAwesome';
        font-weight: normal;
        display: inline-block;
        vertical-align: top;
        padding: 0 0.5rem;
        content: '\f08e';
        font-size: 3rem;
        -webkit-font-smoothing: antialiazed;
      }
    }
  }

  #menu-social-menu li,
  #menu-social-menu-1 li {
    display: inline;

    &::after {
      display: none;
    }

    a {
      color: $white;
    }

    &:hover a {
      color: $menu-links;
    }
  }
}

.social-menu li a[href*="facebook.com"]::before {
  content: '\f09a';
}

.social-menu li a[href*="vimeo.com"]::before {
  content: '\f27d';
}

.social-menu li a[href*="instagram.com"]::before {
  content: '\f16d';
}

.social-menu li a[href*="youtube.com"]::before {
  content: '\f167';
}

// Hide header on scroll
.burger-visible {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.burger-invisible {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

@media only screen and (max-width: 960px) {

  .site-header {
    padding: 3rem 0;
  }

  .nav-contacts {
    font-size: 1.4rem;
    padding-left: 6%;

    p {
      margin: 1.4rem 0;
    }
  }

  #menu-main-menu li a {
    padding-right: 6%;
  }

  #burger-menu-container ul li {
    font-size: 3rem;
    line-height: 1.9;
  }

  #burger-menu-container ul li a:after {
    margin: 2.8rem 0 0 5%;
  }
}

@media only screen and (max-width: 480px) {

  .site-header {
    padding: 5% 0;
  }

  #header-logo {
    img {
      width: 4.6rem;
    }
  }

  #burger-menu-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .hamburger {
    padding: 4% 0 0 0;
  }

  .main-menu {
    border: none;
    right: 0;
    min-width: unset;
    max-width: 100%;
    width: 25rem;
    padding: 0;
  }

  #burger-menu-container ul li {
    font-size: 3rem;
    line-height: 1.8;

    a {
      padding-right: 0;
    }
  }

  .nav-address, .nav-contact {
    display: none;
  }

  .nav-contacts {
    text-align: right;
    padding-left: 0;
    min-width: unset;
    max-width: 100%;
    width: 25rem;

    .social-menu {
      margin-bottom: 5.5rem;
    }

    .contact {
      margin: 0;
    }
  }

  .contact {
    font-size: 1.4rem;

    > p {
      display: none;
    }
  }

  #burger-menu-container ul li a:after {
    margin: 2.7rem 0 0 5%;
    height: 0.4rem
  }
}

//Portrait
@media only screen and (orientation: portrait) and (max-height: 660px) {

  #burger-menu-container ul li {
    font-size: 2.5rem;
  }

  .nav-contacts .social-menu {
    margin-bottom: 2rem;
    top: 1rem;
  }

  .main-menu, .nav-contacts {
    width: 21rem
  }

  #burger-menu-container ul li a::after {
    margin: 2.1rem 0 0 5%;
  }
}

//Landscape

@media only screen and (orientation: landscape) and (max-width: 896px) {

  .site-header {
    padding: 5% 0;
  }

  #header-logo {
    img {
      width: 5rem;
    }
  }

  .hamburger {
    padding: 2.5% 0 0 0;
  }

  .main-menu {
    padding: 0;
    right: 0;
  }

  #burger-menu-container ul li {
    font-size: 2.5rem;
    line-height: 1.75;
  }

  .nav-contacts > div {
    margin-bottom: 2.4rem;
  }
}

@media only screen and (orientation: landscape) and (max-width: 660px) {
  .nav-contacts p {
    margin: 1rem 0;
  }
}