// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation of the site/application.
// -----------------------------------------------------------------------------
@import '../global/typography.scss';
@import '../global/variables.scss';
@import '../global/mixins.scss';

$menu-bg: rgba(33, 33, 33, 0.95);
$menu-links: rgba(255, 255, 255, 0.5);
$size: 5em;
$time: 350ms;
$degree: 135deg;
$timing: ease;

//Header
.site-header {
    background-color: yellow;
    position: relative;
    display: block;
}

//Toggle Button
#toggle {
    position: fixed;
    z-index: 3;
    width: $size / 1.75;
    height: $size / 1.75;
    top: 0;
    right: 0;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        width: 100%;
        height: $size / 25;
        margin: $size / 4 0 0 0;
        background: $black;
        @include transition($time, $timing);

        &:before,
        &:after {
            content: " ";
            position: absolute;
            width: 100%;
            height: $size / 25;
            background: $black;
            @include transition($time, $timing);
        }

        &:before {
            margin: -$size / 5 0 0 0;
        }

        &:after {
            margin: $size / 5 0 0 0;
        }
    }

    &.open {
        span {
            background-color: transparent;

            &:before,
            &:after {
                margin: 0;
                background: $white;
            }

            &:before {
                @include rotate($degree);
            }

            &:after {
                @include rotate(-$degree);
            }
        }
    }
}

// Burger Menu
#burger-menu-container {
    font-family: "SohoGothicPro-Bold";
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: $menu-bg;
    @include scale(1.5);
    @include transition($time, $timing);

    &.opened {
        visibility: visible;
        opacity: 1;
        @include scale(1);
        @include transition($time, $timing);
    }

    ul {
        margin: 0 auto;

        li {
            display: block;
            margin: 0 auto;
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.94;

            a {
                position: relative;
                z-index: 4;
                width: 100%;
                margin: 0 auto;
                color: $menu-links;
                // color: magenta;
                text-decoration: none;
                letter-spacing: 1.6px;
                @include transition($time, $timing);

                &:after {
                    content: " ";
                    position: absolute;
                    width: 0%;
                    height: 5px;
                    margin: 3.4rem 0 0 5%;
                    right: 0;
                    background: $white;
                    @include transition($time, $timing);
                }

                &:hover {
                    color: $white;

                    &:after {
                        width: 155%;
                    }
                }
            }
        }
    }
}

#menu-main-menu {
    position: relative;

    li a {
        padding-right: 8.4%;
    }
}

.main-menu {
    border-right: 4px solid $white;
    padding: 40px 0px;
}

.nav-contacts {
    color: $white;
    padding-left: 8.4%;
    font-size: 1.8rem;

    span {
        font-family: "SohoGothicPro-Regular";
        line-height: 0.7;
    }

    div {
        margin-bottom: 1rem;
    }
}

//Social Icons
.social-menu {

    li {
        display: inline;

        a::before {
            font-family: 'FontAwesome';
            font-weight: normal;
            display: inline-block;
            vertical-align: top;
            padding: 0 5px;
            content: '\f08e';
            font-size: 30px;
            -webkit-font-smoothing: antialiazed;
        }
    }

    #menu-social-menu li {
        display: inline;

        &::after {
            display: none;
        }

        a {
            color: $white;
        }

        &:hover a {
            color: $menu-links;
        }
    }
}

.social-menu li a[href*="facebook.com"]::before {
    content: '\f09a';
}

.social-menu li a[href*="vimeo.com"]::before {
    content: '\f27d';
}

.social-menu li a[href*="instagram.com"]::before {
    content: '\f16d';
}

.social-menu li a[href*="youtube.com"]::before {
    content: '\f167';
}