.careers__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 7rem;

  .button {
    @include centerX;
    position: absolute;
    bottom: 4.5rem;

  }
}

.careers__grid-item {
  background: #232323;
  padding: 4.5rem;
  position: relative;
  min-height: 24rem;

  .heading {
    color: $white;
    font-size: 2rem;
    display: block;
    font-family: "SohoGothicPro-Bold", sans-serif;
  }
}

@media only screen and (max-width: 1100px) {

  .careers__grid {
    grid-template-columns: repeat(2, 1fr);
    //grid-row-gap: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .careers__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

//careers__grid-item